
/*

*/
@font-face {
    font-family: "SphereFez";
    src: url("../fonts/SphereFez.otf");
}

@font-face {
    font-family: "Moonglade";
    src: url("../fonts/Moonglade.ttf");
}

@font-face {
    font-family: "Consolas";
    src: url("../fonts/Consolas.ttf");
}

body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'SphereFez';
    position: fixed;
    height: 70px;
    width: 100%;
    text-align: center;
    margin: 0;
    top: 0;
    background-color: rgba(168, 74, 92, 1);
    color: rgba(245, 213, 188, 1);

}

.boardPanel {
    top: 82px;
    position: absolute;
    width: 624px;
    height: 624px;
    background-color: rgba(221, 187, 136, 1);
    left: 12px;
    border: 3px solid #4a4a4a
}
.homeCircle{
    width: 44px;
    height: 44px;
    border-radius: 35px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-family: 'Consolas';
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 3px solid #1e1e1e;
    z-index: 3;
}



.boardPanelW {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: rgba(223, 193, 131, 1);
}

.button-style-rp {
    width: 220px;
    height: 40px;
    background-color: rgba(223, 193, 131, 1);
    border: none;
    font-family: 'Moonglade';
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;

}

.button-style-rp:hover {
    background-color: rgba(168, 74, 92, 1);
    color: white;
}

.rightPanel {
    background-color: #274257;
    position: absolute;
    width: 250px;
    height: 560px;
    top: 80px;
    right: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}


.fullHome {
    margin-left: 27.5px;
    margin-top: 27.5px;
    background-color: #ed0d38;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 80%;
    z-index: 3;
    border-radius: 10px;
}

.showValuePosition {
    margin-top: 10px;
    width: 44px;
    height: 44px;
    border-radius: 35px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    font-family: 'Consolas';
    background: #274257;
    color: #f54575;
    font-size: 14px;
}

.showInformation {
    position: absolute;
    width: 54px;
    height: 230px;
    background-color: #dfc183;
    z-index: 5;
    top: 81px;
    left: 650px;
    border-radius: 7px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 5px;

}

.info-line {
    visibility: hidden;
    position: fixed;
    width: 80%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #aaaaaa;
    bottom: 10px;
    left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Consolas';
    overflow: auto;
}

.checkBox-size {
    width: 17px;
    height: 17px;
}

.graphSearch {
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #517047;
    left: 712px;
    top: 80px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    font-family: 'Consolas';
    overflow: auto;
    color: #eaffd6;
    visibility : visible;
}

.checkBox-text {
    font-family: 'Moonglade';
}
.pawn-image {
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 5;
  margin-left: 0px;
  margin-top: -8px;

}
.pawns-filter-blue {
  content: url(../img/S700-blue.png);
}
.pawns-filter-red {
  content: url(../img/S700-red.png);
}
.pawns-filter-green {
  content: url(../img/S700-green.png);
}
.pawns-filter-yellow {
  content: url(../img/S700-yellow.png);
}

/****************** color ************************/
.color-base-g1{
  background-color: rgb(255,255,102);
}
.color-base-g2{
background-color: rgb(255,153,153);
}
.color-base-g3{
background-color: rgb(102,102,255);;
}
.color-base-g4{
background-color: rgb(102,255,102);
}
.color-white{
background-color: #fff;
}
.color-g1{
background-color: rgb(255,255,0);
}
.color-g2{
background-color:  rgb(0,0,255);
}
.color-g3{
background-color: rgb(255,0,0);
}
.color-g4{
background-color: rgb(0,153,0);
}


/***************** vertical **********************/

.r_0 {
    top: 565px;
}

.r_1 {
    top: 510px;
}

.r_2 {
    top: 455px;
}

.r_3 {
    top: 400px;
}

.r_4 {
    top: 345px;
}

.r_5 {
    top: 290px;
}

.r_6 {
    top: 235px;
}

.r_7 {
    top: 180px;
}
.r_8 {
    top: 125px;
}
.r_9 {
    top: 70px;
}
.r_10 {
    top: 15px;
}

/***************** Horizontal **********************/

.c_0 {
    left: 15px;
}

.c_1 {
    left: 70px;
}

.c_2 {
    left: 125px;
}

.c_3 {
    left: 180px;
}

.c_4 {
    left: 235px;
}

.c_5 {
    left: 290px;
}

.c_6 {
    left: 345px;
}

.c_7 {
    left: 400px;
}
.c_8 {
    left: 455px;
}
.c_9 {
    left: 510px;
}
.c_10 {
    left: 565px;
}
.line-v {
	background-color: black;
	position: absolute;
	height: 4px;
	z-index : 1;
}
.line-h {
	background-color: black;
	position: absolute;
	width: 4px;
	z-index : 1;
}
.h-140px {
	height: 140px;
}
.h-260px {
	height: 260px;
}

.w-140px {
	width: 140px;
}
.w-260px {
	width: 260px;
}
.margin-t-20px{
	margin-top:20px;
}
.margin-l-20px
{
	margin-left:20px;
}
/******** scrollbar ************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:2px;
}
::-webkit-scrollbar-track {
  background: #d3c9b5;
  border: thin solid lightgray;
  box-shadow: 0 0 3px #dfdfdf inset;
  border-radius:10px;
}
::-webkit-scrollbar-thumb {
  background: #274257;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 74, 92, 1);
}

.MidImg-special-product-stock {
  width: 50%;
  height: 323px;
}